
body {
    background: url('http://www.writteninpencil.de/Projekte/Hangman/hangman-bg.png') fixed;
    text-align: center;
    font-family: Helvetica, sans-serif;
}
input {
    border: 2px solid #999;
    font-family: Helvetica, sans-serif;
    color: #999;
}

#ratefeld {
    font-family: 'Permanent Marker', 'cursive';
}

h1 {
    font-family: "Stjldbl1.ttf"
}

h2 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}